/* GENERAL */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Arial, sans-serif;
}
img{
    object-fit: cover;
}
h1,h2,h3,h4
{
    color: #444;
}
h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}
h2
{
    font-size: 55px;
}
h3
{
    font-size: 30px;
}
h4
{
    font-size: 24px;
}
p
{
    line-height: 20px;
    color: #777;
}
ul
{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #444;
}
.orange
{
    color: #ff7a00;
}
.clear
{
    clear: both;
}
small
{
    font-size: 13px;
    font-style: italic;
}


/* HEADER */

header
{
    padding: 20px;
    position: relative;
    z-index: 2000;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li
{
    display: inline-block;
}

header a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

header nav ul li a:hover
{
    color: #ff7a00;
}

#menu-burger{
    display: none;
}

#burger{
    display: none;
}

#logo-burger{
    color: black;
    display: block;
    font-size: 28px;
    font-weight: bold;
    transform: rotate(90deg);
    cursor: pointer;
}

.menu-responsive{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: -1000;
    background-color: white;
    padding: 50px 20px;
    transform: translateY(-300px);
    transition: transform .5s linear;
}
.menu-responsive li a:hover{
    color: #02b8dd;
}

/* MAIN-IMAGE */

#main-image
{ 
    width: 100%;
    height: 580px;
    background:linear-gradient(to bottom,rgb(0, 0, 0,0.4),rgb(208, 208, 209)) fixed,url("images/main.jpg") center local;
}

#main-image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}
.button-1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}
.button-1:hover
{
    background: #02b8dd;
}

/* STEPS */

#steps
{
    padding: 20px;
    margin: 80px auto;
}

#steps ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#steps ul li
{
    width: 300px;
    padding-top: 140px;
    text-align: center;
}
#steps h4
{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p
{
    margin-bottom: 20px;
}
#step-1
{
    background: url(images/steps-icon-1.png) no-repeat top center;
}

#step-2
{
    background: url(images/steps-icon-2.png) no-repeat top center;
}

#step-3
{
    background: url(images/steps-icon-3.png) no-repeat top center;
}

/* POSSIBILITIES */

#possibilities
{
    background-color: #efefef;
    padding: 100px 20px;
}
#possibilities .wrapper
{
   display: flex;
    justify-content: center;
    gap: 20px;
}
#possibilities article
{
    width: 100%;
    height: 270px;
    border-radius: 10px;
}
.overlay
{
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    max-width: 350px;
    width: 200px;
    min-width: 50%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}   
article h4
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
#possibilities p
{
    text-align: center;
    margin-bottom: 20px;
}
.button-2
{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
}
.button-2:hover
{
    color: #fff;
    background-color: #02b8dd;
}

/* CONTACT */

#contact
{
    padding: 60px 20px;
    text-align: center;
}
#contact h3
{
    max-width: 300px;
    margin: 0 auto 20px auto;
    text-transform: uppercase;
    border-bottom:1px solid #02b8dd;
    padding-bottom: 20px;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px 0;
}
label
{
    text-align: left;
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #777;
    margin-right: 10px;
}
input[type="text"]
{
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.button-3
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;
}
.button-3:hover
{
    color: #fff;
    background-color: #444;
}

/* FOOTER */

footer
{
    height: 260px;
    background-color: #444;
}

footer h1
{
    color: #fff;
    text-align: center;
    padding-top: 80px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}


@media all and (max-width: 768px) {
    /* HEADER */
    header .wrapper{
        align-items: flex-start;
    }
    header nav{
        display: none;
    }

    header #menu-burger{
        display: block;
    }

    #burger:checked ~ .menu-responsive{
        transform: translateY(0);
    }

    /* STEPS */
    #steps ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #steps ul li
    {
        width: 100%;
    }

    /* POSSIBILITIES */
    #possibilities .wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #possibilities article
    {
        width: 100%;
        height: 270px;
        border-radius: 10px;
    }

    /* CONTACT */
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin: 40px 0 20px 0;
    }
    input[type="text"]
    {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        margin-right: 20px;
        border: 2px solid #ddd;
        border-radius: 3px;
    }
    .button-3
    {
        display: block;
        width: 100%;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 11px;
        background-color: #02b8dd;
        border-style: none;
        border-radius: 3px;
        margin-top: 0;
    }
}